---
layout: page
title: Tags by Category
tags: no-navigation
---

<div>
  <div>
    <p>|
    {% assign sortedCategories = site.categories | sort:name %}
    {% for tag in sortedCategories %}
     <a href="#{{ tag[0] | slugify }}">{{ tag[0] }}</a> |
    {% endfor %}
    </p>
  </div>
  <hr/>
  <div>
    {% for category in sortedCategories %}
      <h2 id="{{ category[0] | slugify }}">{{ category[0] }}</h2>
      <ul>
      {% assign sortedTags = site.tags | sort:name %}
      {% for tag in sortedTags %}
        {% assign zz = tag[1] | where: "category", category[0] %}
        {% if zz != empty %}
          <li><h3 id="{{category[0] | slugify }}-{{ tag[0] | slugify }}">{{ tag[0] }}</h3></li>
          <ul>
            {% for post in tag[1] %}
            {% if post.categories[0] == category[0] %}
                <li><a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
              {{ post.title }} |
            (<small class="post-date">{{ post.date | date_to_string }}</small>)
              </a></li>
            {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
      {% endfor %}
      </ul>
    {% endfor %}
  </div>
</div>
