/* add a shaded box behind titles so I don't have to shade my pictures */
.intro-header .site-heading .title-box,
.intro-header .post-heading .title-box,
.intro-header .page-heading .title-box {
  padding: 0 10px 10px;
  background: rgba(0, 0, 0, .4);
}
/* Pull out quote and author */
.quote {
  text-align: center;
  font-size: 28px;
  padding: 0px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.quote-author {
  text-align: center;
  font-size: 20px;
  padding: 0px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
