/* add a shaded box behind titles so I don't have to shade my pictures */
.intro-header .site-heading .title-box,
.intro-header .post-heading .title-box,
.intro-header .page-heading .title-box {
  text-align: center;
  padding: 0 10px 10px;
  background: rgba(0, 0, 0, .4);
}

/* Fix margin on boxes */
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading,
.intro-header .post-heading .subheading {
  margin: 0 0 0;
}

/* Pull out quote and author */
.quote {
  text-align: center;
  font-size: 28px;
  padding: 0px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.quote-author {
  text-align: center;
  font-size: 20px;
  padding: 0px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.footnotes {
  font-size: 12px;
}

li a {
  text-decoration: underline;
}

.sidebar a {
  text-decoration: underline;
}

.navbar-custom {
  background-color: rgba(255, 255, 255, 0.9);
}

.navbar-header a {
  color: black;
}

.navbar-custom .navbar-brand {
  color: black;
}

.navbar-custom .nav li a {
  color: black;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #0085a1;
}

.post-tag {
  display: inline-block;
  background: rgba($theme-color, 0.15);
  padding: 0 .5rem;
  margin-right: .5rem;
  border-radius: 4px;
  color: $theme-color;
  font-family: $font-sans;
  font-size: 90%;
}

.post-tag:before {
  content: "\f02b";
  font-family: FontAwesome;
  padding-right: .5em;
}
  &:hover {
    text-decoration: none;
    background: $theme-color;
    color: $white;
  }

.input-text {
    width: 100%;
}

.comment_avatar {
    float: left;
    margin-right: .5rem;
    margin-bottom: .5rem;
}
