<form id="post-new-comment" class="form" action="{{ site.staticmanUrl }}" method="post">
    <input type="hidden" name="options[slug]" value="{{ post_slug }}">
    <input type="hidden" name="options[parent]" value="{{ post_slug }}">
    <input type="hidden" name="options[origin]" value="{{ site.url }}{{ page.url }}">
    
    <input type="address" name="fields[address]" placeholder="Address (do not fill!)" style="display: none"/>
    <input type="text" name="company" class="text-field" style="display: none"><br/>
    <input class="input-text" type="text" name="fields[name]" placeholder="Name" required/><br/>
    <input class="input-text" type="email" name="fields[email]" placeholder="Email address (will not be public)" required/><br/>
    <input class="input-text" type="url" name="fields[url]" placeholder="Website (optional)"/><br/>
    <textarea class="input-text" rows="10" name="fields[message]" placeholder="Comment. Markdown is accepted." required></textarea><br/>
    <input type="submit" value="Send" />
</form>
