<div class="sidebar">
    <h1>Themes</h1>
    {% assign sortedCategories = site.categories | sort:name %}
    {% for category in sortedCategories %}
        <h3><a href="/navigation/cat-tag/#{{ category[0] | slugify }}"><span class="category">{{ category | first }}</span></a></h2>
        <ul>
            {% assign sortedTags = site.tags | sort:name %}
            {% for tag in sortedTags %}
                {% assign zz = tag[1] | where: "category", category[0] %}
                {% if zz != empty %}
                  <li class="small"><a href="/navigation/cat-tag/#{{ category[0] | slugify }}-{{ tag[0] | slugify }}"><span class="tag">{{ tag | first }}</span></a></li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endfor %}
</div>
