---
layout: default
---

<!-- Post Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <div class="title-box">
                        <h1>{{ page.title }}</h1>
                        {% if page.subtitle %}
                        <h2 class="subheading">{{ page.subtitle }}</h2>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <span class="post-date">{{ page.date | date_to_string }}</span>
                {% if page.tags %} | 
                    {% for tag in page.tags %}
                        {% if tag != "no-navigation" %}
                            <a href="{{ site.baseurl }}/navigation/tags#{{ tag | slugify }}" class="post-tag">{{ tag }}</a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                 | {% include reading_time.html %}

				{{ content }}

                <hr>

                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </div>
</article>

<hr>
